
// Tools
@use "utilities" as *;

// Layers
@forward "base"; // Key global styles
@forward "components"; // Global element Library
@forward "pages"; // Page layouts
@forward "modules/critical"; // Reusable content modules

	body {
		background-color: lightgreen;
		color: darkgreen;
	}

	.svg-test {
		@include icon-sprite("test"); // No sizes added
		width: 100px;
		height: 100px;
		background-size: contain;


		&--incSize {
			@include icon-sprite("test", true); // adds background-size property
		}

		&--box {
			@include icon-sprite("test", box); // add width/height properties
		}

	}

	svg {
		fill: currentColor;
	}

