// Tools
@use "utilities" as *;

// Layers
@forward "base"; // Key global styles
@forward "components"; // Global element Library
@forward "pages"; // Page layouts
@forward "modules/critical"; // Reusable content modules

body {
	background-color: lightgreen;
	color: darkgreen;
}

#svg-vite {
	@include icon-sprite("vite", "box");
	// width: 200px;
	// aspect-ratio: 1/1;
	background-size: contain;
}

svg {
	fill: currentColor;
}
