/////////////////////////////////////////
// Page Settings
/////////////////////////////////////////
$pg-max: 1440px;

$pg-grid: (
	0: (
		margin: 20px,
		gutter: 6px,
		blockspace: 800,
	),
	md: (
		margin: 24px,
		gutter: 18px,
		blockspace: 800,
	),
	lg: (
		margin: 30px,
		gutter: 20px,
		blockspace: 1000,
	),
	xl: (
		margin: 40px,
		gutter: 20px,
		blockspace: 1000,
	),
);

$default-text-spacing: 400;

$spacings: (
	100: 8px,
	200: 16px,
	300: 20px,
	400: 24px,
	500: 32px,
	600: 40px,
	700: 48px,
	800: 64px,
	900: 80px,
	1000: 112px,
);

/////////////////////////////////////////
// Navigation
/////////////////////////////////////////
$bp-nav-desk: 1100px;
$bp-nav-mobile: $bp-nav-desk - 1;

/////////////////////////////////////////
// Fonts
/////////////////////////////////////////
$fnt-body: "san-serif";
$fnt-heading: "serif";

/////////////////////////////////////////
// TYPE SCALES
/////////////////////////////////////////
$default-ts: 400;

$type-scales: (
	400: (
		0: (
			fs: 16px,
			lh: 18px,
			ls: -0px,
		),
		lg: (
			fs: 18px,
			lh: 22px,
			ls: -0px,
		),
	),
	500: (
		0: (
			fs: 22px,
			lh: 24px,
			ls: -0px,
		),
		lg: (
			fs: 26px,
			lh: 28px,
			ls: -0px,
		),
	),
	900: (
		0: (
			fs: 32px,
			lh: 34px,
			ls: -0px,
		),
		lg: (
			fs: 46px,
			lh: 48px,
			ls: -0px,
		),
	),
);

/////////////////////////////////////////
// Colours
/////////////////////////////////////////

//:::::::::::::::::::::::::::::::::::::::
// Primary Pallettes
//:::::::::::::::::::::::::::::::::::::::
$col-black: #000;
$col-white: #fff;

//:::::::::::::::::::::::::::::::::::::::
// Colur "theme" sets
//:::::::::::::::::::::::::::::::::::::::
$default-set: onLight;

$col-themes: (
	onLight: (
		default: $col-black,
		accent: $col-black,
		selectedBkg: $col-black,
		selectedTxt: $col-white,
	),
	onDark: (
		default: $col-white,
		accent: $col-white,
		selectedBkg: $col-white,
		selectedTxt: $col-black,
	),
);

//:::::::::::::::::::::::::::::::::::::::
// Background Colours
// - bkg-color-name : ( bkgColorValue, colorSetName)
//:::::::::::::::::::::::::::::::::::::::
$col-bkgs: (
	"white": (
		$col-white,
		onLight,
	),
	"black": (
		$col-black,
		onDark,
	),
);
$col-bkg-default: "white";

/////////////////////////////////////////
// MEDIA RATIOS
/////////////////////////////////////////
$mediaRatios: (
	"1-1": (
		1,
		1,
	),
	"9-16": (
		9,
		16,
	),
	"16-9": (
		16,
		9,
	),
);
